<%= render "layouts/errors", :object => @comment %>

<%= bootstrap_form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_field :description, size: "40x15" %><br>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
