
<div class="row">
  <div class="col-md-12">
    <pre class="chapter-text" style="white-space: pre-line;">
      <%= @comment.description %>
      </pre>
    </div>
  </div>
<p><%= link_to "Return to Post", post_path(@post) %></p>
